<section class="hero py-16">
  <div class="container mx-auto flex items-center">
    <div class="hero-content w-1/2 relative ml-16">
      <h1 class="text-5xl font-bold absolute top-40">It's the Food and Groceries you love, delievered</h1>
      <button class="btn-primary mt-10 py-3 px-6 rounded-full absolute top-60">Order Now</button>
    </div>
    <div class="w-1/2 relative">
      <img class="absolute top-20 left-20" src="/images/hero.png">
    </div>
  </div>
</section>

<section class="menu py-16">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold py-10 text-center mb-16">Our Delicious Menu</h2>
    <div class="grid grid-cols-4 gap-10">
      <!-- Menu items -->
       <div class="flex flex-col justify-center items-center">
        <img class="w-60 rounded-md" src="/images/pizza.jpg" alt="">
        <span class="text-lg font-bold mt-3 ">Itialian Pizza</span>
        <div class="size  rounded-md py-1 px-3 my-3">Small</div>
       <div>
        <span class="text-lg font-bold text-primary">$56</span>
        <button class="btn btn-primary mt-2 py-1.5 px-3 rounded-full ml-6 text-small">Order Now</button>
       </div>
       </div>
       <div class="flex flex-col justify-center items-center">
        <img class="w-60 rounded-md" src="/images/pizza.jpg" alt="">
        <span class="text-lg font-bold mt-3 ">Itialian Pizza</span>
        <div class="size  rounded-md py-1 px-3 my-3">Small</div>
       <div>
        <span class="text-lg font-bold text-primary">$56</span>
        <button class="btn btn-primary mt-2 py-1.5 px-3 rounded-full ml-6 text-small">Order Now</button>
       </div>
       </div>
       <div class="flex flex-col justify-center items-center">
        <img class="w-60 rounded-md" src="/images/pizza.jpg" alt="">
        <span class="text-lg font-bold mt-3 ">Itialian Pizza</span>
        <div class="size  rounded-md py-1 px-3 my-3">Small</div>
       <div>
        <span class="text-lg font-bold text-primary">$56</span>
        <button class="btn btn-primary mt-2 py-1.5 px-3 rounded-full ml-6 text-small">Order Now</button>
       </div>
       </div>
       <div class="flex flex-col justify-center items-center">
        <img class="w-60 rounded-md" src="/images/pizza.jpg" alt="">
        <span class="text-lg font-bold mt-3 ">Itialian Pizza</span>
        <div class="size  rounded-md py-1 px-3 my-3">Small</div>
       <div>
        <span class="text-lg font-bold text-primary">$56</span>
        <button class="btn btn-primary mt-2 py-1.5 px-3 rounded-full ml-6 text-small">Order Now</button>
       </div>
       </div>

    </div>
  </div>
</section>