
   <section class="hero py-16 relative">
    <div class="container mx-auto flex items-center">
      <div class="hero-content w-1/2 relative ml-16">
        <h1 class="text-5xl font-bold absolute top-40">It's the Food and Groceries you love, delievered</h1>
        <button class="btn-primary mt-10 py-3 px-6 rounded-full absolute top-60">Order Now</button>
      </div>
      <div class="w-1/2 relative">
        <img class="absolute left-20" src="/images/hero.png">
      </div>
    </div>
   </section>

