<!-- <section class="cart py-16">
     <div class="empty-cart py-16">
      <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold mb-2">Cart Empty😔</h1>
        <p class="capitalize text-gray-500 text-lg mb-8">
          You Probably havn't Order Pizza Yet. <br />
          To Order a pizza go to main page
        </p>
        <img
          class="mx-auto w-1/8"
          src="/images/empty-cart.png"
          alt="Empty Cart"
        />
        <a href="/" class="btn-primary inline-block px-6 py-2 rounded-full mt-8"
          >Go Back</a
        >
      </div>
    </div>  -->
  
     <div class="order container mx-auto w-1/2">
      <div class="flex items-center border-b border-gray-300 pb-4">
        <img src="/images/cart-black.jpg" alt="" />
        <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
      </div>
      <div class="pizza-list">
        <div class="flex items-center my-8">
          <img class="w-24" src="/images/pizza.jpg" alt="" />
          <div class="flex-1 ml-4">
            <h1>Marinara</h1>
            <span>medium</span>
          </div>
          <span class="flex-1">1 Pcs</span>
          <span class="font-bold text-lg">$300</span>
        </div>
        <div class="flex items-center my-8">
          <img class="w-24" src="/images/pizza.jpg" alt="" />
          <div class="flex-1 ml-4">
            <h1>Marinara</h1>
            <span>medium</span>
          </div>
          <span class="flex-1">1 Pcs</span>
          <span class="font-bold text-lg">$300</span>
        </div>
        <div class="flex items-center my-8">
          <img class="w-24" src="/images/pizza.jpg" alt="" />
          <div class="flex-1 ml-4">
            <h1>Marinara</h1>
            <span>medium</span>
          </div>
          <span class="flex-1">1 Pcs</span>
          <span class="font-bold text-lg">$300</span>
        </div>
        <hr />
        <div class="text-right py-4">
          <div>
            <span class="text-lg font-bold">Total Amount:</span>
            <span class="amount font-bold text-2xl ml-4">$300</span>
          </div>
          <div>
            <form class="mt-12" action="">
              <input
                class="border border-gray-400 p-2 w-1/2 mb-4"
                type="tel"
                placeholder="Phone Number"
              />
              <input
                class="border border-gray-400 p-2 w-1/2 mb-4"
                type="tel"
                placeholder="Address"
              />
              <div>
                <button
                  class="btn-primary px-6 py-2 rounded-full mt-6"
                  type="submit"
                >
                  Order Now
                </button>
              </div> 
              <!-- <a
                href=""
                class="inline-block cursor-pointer px-6 py-2 btn-primary rounded-full mt-6"
                >Login to continue</a
              > -->
     </form>
          </div>
        </div>
      </div>
    </div> 
  </section>